<ion-header>
  <ion-navbar>
    <ion-title>Round Trip Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-grid *ngIf="!connected">
  <ion-row>
    <ion-col col-12>
      <form [formGroup]="serverAddressForm" novalidate>
        <ion-list>

          <ion-item>
            <ion-label fixed>Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
            <ion-label *ngIf="error">{{error}}</ion-label>
          </ion-item>
        </ion-list>

        <button ion-button full (click)="connect2Server()">Connect</button>

      </form>
    </ion-col>
  </ion-row>
</ion-grid>
<server-time *ngIf="connected"></server-time>
